@import url('https://fonts.googleapis.com/css?family=Orbitron');

.App {
  text-align: center;
  font-family: 'Orbitron';
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-container {
  width: 800px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #111 12.5%, #434343 25%, #111 50%, #434343 75%, #111 100%);
  padding: 40px 20px
}

.header-drum {
  color: #e67e22;
}

.head {
  font-weight: 600;
  color: white
}

.machine {
  display: flex;
}

.right-section {
  border: 1px solid grey
}

.hori-2 {
  margin: 20px;
  border-radius: 10px;
  border: 2px solid rgb(80, 80, 204)
}

.drum-name {
  margin: 30px
}

.header {
  text-align: start;
  padding: 0px 35px;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

.hori-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  height: 80px;
  width: 100px;
  margin: 7px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: larger;
  background-color: #A9A9A9;
  box-shadow: rgba(0, 0, 0, 2) 0px 2px 4px, rgba(0, 0, 0, 0.6) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.controller-section {
  border: 1px solid grey;
  margin: 20px
}

.power-icon {
  font-size: 20px;
  color: greenyellow
}

.vol-mode {
  display: flex;
  width: 100%
}

.vol,
.mode {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 0%;
  padding: 10px;

}

.vol {
  border-bottom-left-radius: 10px;

}

.mode {
  border-bottom-right-radius: 10px;

}

.sound-icon {
  color: white;
  font-size: 25px;
  margin-right: 10px;
}

.sound {
  display: flex;
  justify-content: center;
}

.slider {
  width: 300px
}

.chg-mode {
  padding: 20px;
  display: flex;
}

.drums {
  width: 100%;
  margin-right: 3px;
  background: linear-gradient(to bottom right, #E3B778 12.5%, #FAE29C 25%, #E3B778 50%, #FAE29C 75%, #E3B778 100%);
  
}

.synth {
  width: 100%;
  background: linear-gradient(to bottom right, #658354 12.5%, #B3CF99 25%, #658354 50%, #B3CF99 75%, #658354 100%);

}